<p id="notice"><%= notice %></p>

<h1><%= @team.name %></h1>



<div class="legend-wrapper">
  <% reverse_order_hash = Hash[@psychological_safety_surveys.to_a.reverse].to_hash %>
  <% @psychological_safety_surveys.each_with_index do |(survey_name, score), index| %>
    <p class="legend survey_<%= (@psychological_safety_surveys.length - index - 1).abs -%>"><span></span> <%= survey_name -%></p>
  <% end -%>
  <% if @psychological_safety_surveys.length > 1%>
    <p class="legend survey_range"><span></span>Range of Responses</p>
  <% end -%>
</div>

<div class="dashboard-dials">
  <div class="dashboard-item">
    <%= render partial: "survey_dial", locals: {name: "Psychological Safety", surveys: @psychological_safety_surveys} -%>
    <h3>Team members feel safe to take risks and be vulnerable in front of each other.</h3>
  </div>
  <div class="dashboard-item">
    <%= render partial: "survey_dial", locals: {name: "Dependability", surveys: @dependability_surveys} -%>
    <h3>Team members get things done on time and meet the high bar for excellence.</h3>
  </div>
  <div class="dashboard-item">
    <%= render partial: "survey_dial", locals: {name: "Structure & Clarity", surveys: @structure_clarity_surveys} -%>
    <h3>Team members have clear roles, plans and goals.</h3>
  </div>
  <div class="dashboard-item">
    <%= render partial: "survey_dial", locals: {name: "Meaning", surveys: @meaning_surveys} -%>
    <h3>Work is personally important to team members.</h3>
  </div>
  <div class="dashboard-item">
    <%= render partial: "survey_dial", locals: {name: "Impact", surveys: @impact_surveys} -%>
    <h3>Team members think their work matters and creates change.</h3>
  </div>
</div>


<h2>Surveys</h2>
<div class="team-survey-totals">
  <div>
<table class="average_scores">
  <thead>
    <tr>
      <th class="empty" colspan="2"></th>
      <th class="table-header" colspan="6">Average Score (from all submissions)</th>
    </tr>
    <tr>
      <th>Survey</th>
      <th>Submissions</th>
      <th>Psychological Safety</th>
      <th>Dependability</th>
      <th>Structure Clarity</th>
      <th>Meaning</th>
      <th>Impact</th>
      <th><strong>Survey Average</strong></th>
    </tr>
  </thead>
<% @team.surveys.each_with_index do |(survey), index| %>
  <tr>
    <td><strong><%= link_to survey.name, team_survey_path(survey.team, survey) %></strong></td>
    <td class="avg_score"><%= survey.submissions.count %></td>
    <td class="avg_score"><span><%= survey.aggregate_psychological_safety_avg_score.round(2) -%></span></td>
    <td class="avg_score"><span><%= survey.aggregate_dependability_avg_score.round(2) -%></span></td>
    <td class="avg_score"><span><%= survey.aggregate_structure_clarity_avg_score.round(2) -%></span></td>
    <td class="avg_score"><span><%= survey.aggregate_meaning_avg_score.round(2) -%></span></td>
    <td class="avg_score"><span><%= survey.aggregate_impact_avg_score.round(2) -%></span></td>
    <td class="avg_score"><span><strong><%= @total_surveys.values[index] -%></strong></span></td>
  </tr>
<% end %>
</table>
  </div>
  <div>
      <div class="dashboard-item total-score">
        <%= render partial: "survey_dial", locals: {name: "Total Team Score", surveys: @total_surveys} -%>
        <h3>“The whole is greater than the sum of its parts.” -Aristotle</h3>
        <p>(Average of all submissions per survey.)</p>
      </div>
  </div>
</div>
