<p id="notice"><%= notice %></p>

<h1><%= @team.name %></h1>

<h2>Surveys</h2>

<table>
  <thead>
    <tr>
      <th class="empty" colspan="2"></th>
      <th class="table-header" colspan="5">Aggregate Average Score (Questions)</th>
    </tr>
    <tr>
      <th>Survey</th>
      <th>Submissions</th>
      <th>Psychological Safety (1-3)</th>
      <th>Dependability (4-6)</th>
      <th>Structure Clarity (7-9)</th>
      <th>Meaning (10-12)</th>
      <th>Impact (13-15)</th>
    </tr>
  </thead>
<% @team.surveys.each do |survey| %>
  <tr>
    <td><strong><%= link_to survey.name, survey %></strong></td>
    <td><%= survey.submissions.count %></td>
    <td><%= survey.aggregate_psychological_safety_avg_score.round(2) -%></td>
    <td><%= survey.aggregate_dependability_avg_score.round(2) -%></td>
    <td><%= survey.aggregate_structure_clarity_avg_score.round(2) -%></td>
    <td><%= survey.aggregate_meaning_avg_score.round(2) -%></td>
    <td><%= survey.aggregate_impact_avg_score.round(2) -%></td>
  </tr>
<% end %>
</table>

<h1>Average Survey Scores</h1>

<div class="legend-wrapper">
  <% reverse_order_hash = Hash[@psychological_safety_surveys.to_a.reverse].to_hash %>
  <% @psychological_safety_surveys.each_with_index do |(survey_name, score), index| %>
    <p class="legend survey_<%= (@psychological_safety_surveys.length - index - 1).abs -%>"><span></span> <%= survey_name -%></p>
  <% end -%>
</div>

<div class="dashboard-dials">
<%= render partial: "survey_dial", locals: {name: "Psychological Safety", surveys: @psychological_safety_surveys} -%>
<%= render partial: "survey_dial", locals: {name: "Dependability", surveys: @dependability_surveys} -%>
<%= render partial: "survey_dial", locals: {name: "Structure Clarity", surveys: @structure_clarity_surveys} -%>
<%= render partial: "survey_dial", locals: {name: "Meaning", surveys: @meaning_surveys} -%>
<%= render partial: "survey_dial", locals: {name: "Impact", surveys: @impact_surveys} -%>
</div>

<p>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
</p>
