<%= form_with(model: submission) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
        <% submission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :submitted_date %>
    <%= form.text_field :submitted_date %>
  </div>

  <div class="field">
    <%= form.label :survey_id %>
    <%= form.text_field :survey_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
