<p id="notice"><%= notice %></p>

<h1><%= link_to @survey.team.name, @survey.team %></h1>
<h2><%= @survey.name %></h2>
<h3>Submissions</h3>

<table>
<% @survey.submissions.each do |submission| %>
  <tr>
    <td><%= link_to submission.submitted_date, submission %></td>
  </tr>
<% end %>
</table>

<p>
<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
</p>
