<p id="notice"><%= notice %></p>

<h1><%= link_to @survey.team.name, @survey.team %></h1>
<p><%= link_to "view all surveys", @survey.team %></p>
<h1><%= @survey.name %></h1>

<div class="responses-scores average_scores">
  <div>
    <h2>Submissions</h2>

    <table>
      <thead>
        <tr>
          <th class="empty"></th>
          <th class="table-header" colspan="5">Individual Average Score (Questions)</th>
        </tr>
        <tr>
          <th>Submission</th>
          <th>Psychological Safety (1-3)</th>
          <th>Dependability (4-6)</th>
          <th>Structure Clarity (7-9)</th>
          <th>Meaning (10-12)</th>
          <th>Impact (13-15)</th>
          </tr>
      </thead>

    <% @survey.submissions.each do |submission| %>
      <tr>
        <td><%= link_to submission.submitted_date, team_survey_submission_path(submission.survey.team, submission.survey, submission) %></td>
        <td class="avg_score"><span><%= submission.individual_psychological_safety_avg_score.round(2) %></span></td>
        <td class="avg_score"><span><%= submission.individual_dependability_avg_score.round(2) %></span></td>
        <td class="avg_score"><span><%= submission.individual_structure_clarity_avg_score.round(2) %></span></td>
        <td class="avg_score"><span><%= submission.individual_meaning_avg_score.round(2) %></span></td>
        <td class="avg_score"><span><%= submission.individual_impact_avg_score.round(2) %></span></td>
      </tr>
    <% end %>
    <tr>
      <td><strong>Aggregated Averages</strong></td>
      <td class="avg_score large"><span><strong><%= @survey.aggregate_psychological_safety_avg_score.round(2) %></strong></span></td>
      <td class="avg_score large"><span><strong><%= @survey.aggregate_dependability_avg_score.round(2) %></strong></span></td>
      <td class="avg_score large"><span><strong><%= @survey.aggregate_structure_clarity_avg_score.round(2) %></strong></span></td>
      <td class="avg_score large"><span><strong><%= @survey.aggregate_meaning_avg_score.round(2) %></strong></span></td>
      <td class="avg_score large"><span><strong><%= @survey.aggregate_impact_avg_score.round(2) %></strong></span></td>
    </tr>
    </table>

  </div>
</div>

<h1>Average Submission Score Plus Range</h1>

<div class="dashboard-dials">
<%= render partial: "submissions_dial", locals: {name: "Psychological Safety", submissions: @psychological_safety_surveys} -%>
<%= render partial: "submissions_dial", locals: {name: "Dependability", submissions: @dependability_surveys} -%>
<%= render partial: "submissions_dial", locals: {name: "Structure Clarity", submissions: @structure_clarity_surveys} -%>
<%= render partial: "submissions_dial", locals: {name: "Meaning", submissions: @meaning_surveys} -%>
<%= render partial: "submissions_dial", locals: {name: "Impact", submissions: @impact_surveys} -%>
</div>
